@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Roboto+Slab:100+700);
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, .storify-container, figure, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .storify-container, figure, summary {
  display: block;
}

/* line 16, ../sass/screen.sass */
body {
  background: #f0f0f0;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  text-shadow: 0 1px 0 white;
}

/* line 21, ../sass/screen.sass */
header {
  height: 300px;
  background: #dbe24b;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 26, ../sass/screen.sass */
header:after {
  height: 40px;
  content: "";
  width: 100%;
  display: block;
  position: relative;
  top: -65px;
  background: url("circle.svg") repeat-x;
  background-size: 40px;
}
/* line 35, ../sass/screen.sass */
header h1 {
  text-shadow: 0 2px 0 #a5ab1c;
}

/* line 38, ../sass/screen.sass */
article {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 2.5%;
  padding-right: 2.5;
}

/* line 46, ../sass/screen.sass */
section, .storify-container, figure {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 2.5%;
  vertical-align: text-top;
}
/* line 53, ../sass/screen.sass */
section:last-of-type, .storify-container:last-of-type, figure:last-of-type {
  padding-right: none;
}

/* line 56, ../sass/screen.sass */
#modal {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
/* line 66, ../sass/screen.sass */
#modal figure {
  text-align: center;
  margin: 0 auto;
  display: block;
}
/* line 71, ../sass/screen.sass */
#modal figcaption h1 {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: #f0f0f0;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 78, ../sass/screen.sass */
#modal figcaption p {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  color: #f0f0f0;
  text-align: center;
}

/* line 83, ../sass/screen.sass */
.storify-container {
  background: #d18fad;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e0b3c7;
  box-shadow: 0 -1 0 grey;
  height: 300px;
  overflow-y: scroll;
}

/* line 93, ../sass/screen.sass */
.storify-collapser {
  position: relative;
  bottom: 0;
  width: 95%;
  margin: 0 auto;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px;
  font-size: 1.5em;
  background: #6e6ac3;
  text-align: center;
}

/* line 109, ../sass/screen.sass */
h1 {
  font-weight: bold;
  font-family: "Roboto Slab", Helvetica Neue, Helvetica, sans-serif;
  font-size: 2em;
  line-height: 2.2em;
  margin-bottom: 2em;
  text-align: center;
  color: #5a5a5a;
  text-shadow: 0 -1px 0 white;
}

/* line 118, ../sass/screen.sass */
h2 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #f0f0f0;
}

/* line 126, ../sass/screen.sass */
h3 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.4em;
  color: #dbe24b;
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
  font-family: "Roboto Slab", Helvetica Neue, Helvetica, sans-serif;
}

/* line 137, ../sass/screen.sass */
h4 {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  color: #f0f0f0;
}

/* line 143, ../sass/screen.sass */
p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #8d8d8d;
}

/* line 147, ../sass/screen.sass */
ul {
  width: 100%;
}

/* line 149, ../sass/screen.sass */
li.case-icon {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.4em;
  color: #f0f0f0;
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
}
/* line 157, ../sass/screen.sass */
li.case-icon:nth-of-type(even) {
  margin-left: 2.5%;
}

/* line 159, ../sass/screen.sass */
li.active-storify {
  color: #dbe24b;
}

/* line 162, ../sass/screen.sass */
img {
  max-width: 100%;
}

/* line 164, ../sass/screen.sass */
img.skill-icon {
  opacity: 0.8;
  display: inline-block;
}

/* line 167, ../sass/screen.sass */
img.case-icon {
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4%;
}

/* line 172, ../sass/screen.sass */
.third {
  width: 30%;
  max-width: 360px;
}

/* line 175, ../sass/screen.sass */
.half {
  width: 47%;
}

/* line 177, ../sass/screen.sass */
.quarter {
  width: 22%;
  max-width: 480px;
}

/* line 180, ../sass/screen.sass */
.storify-container {
  width: 60%;
}

/* line 182, ../sass/screen.sass */
.storify-menu {
  width: 30%;
}

/* line 184, ../sass/screen.sass */
.social-media {
  color: #c36a92;
}

/* line 186, ../sass/screen.sass */
.design {
  color: #6e6ac3;
}

/* line 188, ../sass/screen.sass */
.photography {
  color: #6ac39b;
}

/* line 190, ../sass/screen.sass */
#larnjee {
  margin: 0 auto;
  text-align: center;
}

/* line 194, ../sass/screen.sass */
#design {
  background: #6e6ac3;
}

/* line 197, ../sass/screen.sass */
#social-media {
  background: #c36a92;
}

/* line 200, ../sass/screen.sass */
#photography {
  background: #5a5a5a;
}

/* line 203, ../sass/screen.sass */
#contact {
  background: #dbe24b;
}

/* line 206, ../sass/screen.sass */
.hidden {
  display: none;
}

/* line 210, ../sass/screen.sass */
.colored p {
  color: #f0f0f0;
}

/* line 213, ../sass/screen.sass */
.section-icon {
  position: relative;
  top: -100px;
}
