@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Roboto+Slab:100+700);
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, figure, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, figure, summary {
  display: block;
}

/* line 16, ../sass/screen.sass */
body {
  background: #f0f0f0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-shadow: 0 1px 0 white;
}

/* line 21, ../sass/screen.sass */
header {
  height: 300px;
  background: #dbe24b;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 26, ../sass/screen.sass */
header:after {
  height: 40px;
  content: "";
  width: 100%;
  display: block;
  position: relative;
  top: -65px;
  background: url("circle.svg") repeat-x;
  background-size: 40px;
}
/* line 35, ../sass/screen.sass */
header h1 {
  text-shadow: 0 2px 0 #a5ab1c;
}

/* line 38, ../sass/screen.sass */
article {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/* line 46, ../sass/screen.sass */
section, figure {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 2.5%;
  vertical-align: text-top;
}
/* line 53, ../sass/screen.sass */
section:last-of-type, figure:last-of-type {
  padding-right: none;
}

/* line 59, ../sass/screen.sass */
h1 {
  font-weight: bold;
  font-family: "Roboto Slab", Georgia;
  font-size: 2em;
  line-height: 2.2em;
  margin-bottom: 2em;
  text-align: center;
  color: #5a5a5a;
  text-shadow: 0 -1px 0 white;
}

/* line 68, ../sass/screen.sass */
h2 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #f0f0f0;
}

/* line 76, ../sass/screen.sass */
h3 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #cfd723;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Roboto Slab", Georgia;
}

/* line 86, ../sass/screen.sass */
h4 {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  color: #f0f0f0;
}

/* line 92, ../sass/screen.sass */
p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #5a5a5a;
}

/* line 97, ../sass/screen.sass */
img {
  max-width: 100%;
}

/* line 99, ../sass/screen.sass */
.third {
  width: 30%;
}

/* line 101, ../sass/screen.sass */
.half {
  width: 47%;
}

/* line 103, ../sass/screen.sass */
.quarter {
  width: 22%;
}

/* line 105, ../sass/screen.sass */
.social-media {
  color: #e24b90;
}

/* line 107, ../sass/screen.sass */
.design {
  color: #524be2;
}

/* line 109, ../sass/screen.sass */
.photography {
  color: #4be29d;
}

/* line 111, ../sass/screen.sass */
#larnjee {
  margin: 0 auto;
  text-align: center;
}

/* line 115, ../sass/screen.sass */
#design {
  background: #524be2;
}

/* line 118, ../sass/screen.sass */
#social-media {
  background: #e24b90;
}

/* line 121, ../sass/screen.sass */
#photography {
  background: black;
}

/* line 124, ../sass/screen.sass */
#contact {
  background: #dbe24b;
}

/* line 128, ../sass/screen.sass */
.colored p {
  color: #f0f0f0;
}

/* line 131, ../sass/screen.sass */
.section-icon {
  position: relative;
  top: -100px;
}
