@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Roboto+Slab:700,400);
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.sass */
body {
  background: #fafafa;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-shadow: 0 1px 0 white;
}

/* line 18, ../sass/screen.sass */
header {
  height: 300px;
  background: #dbe24b;
  box-shadow: 0 4px 0 #a5ab1c;
  padding-top: 20px;
}
/* line 24, ../sass/screen.sass */
header h1 {
  text-shadow: 0 2px 0 #a5ab1c;
}

/* line 26, ../sass/screen.sass */
article {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 32, ../sass/screen.sass */
section {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 2.5%;
}
/* line 37, ../sass/screen.sass */
section:last-of-type {
  padding-right: none;
}

/* line 40, ../sass/screen.sass */
h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 2.2em;
  margin-bottom: 2em;
  text-align: center;
  color: #5a5a5a;
  text-shadow: 0 -1px 0 white;
}

/* line 48, ../sass/screen.sass */
h2 {
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #cfd723;
}

/* line 54, ../sass/screen.sass */
p {
  font-size: 1.1em;
  line-height: 1.3em;
  color: #5a5a5a;
}

/* line 58, ../sass/screen.sass */
.third {
  width: 30%;
}

/* line 60, ../sass/screen.sass */
.half {
  width: 45%;
}

/* line 62, ../sass/screen.sass */
.quarter {
  width: 20%;
}

/* line 65, ../sass/screen.sass */
#larnjee {
  width: 400px;
  height: 200px;
  display: block;
  background: #cfd723;
  margin: 0 auto;
}
